<launch>
  <group ns="environments">
    <group ns="environment_1">
      <node pkg="openag_brain" type="pid.py" name="air_temperature_controller_1">
        <param name="Kd" value="0" type="double"/>
        <param name="Ki" value="0" type="double"/>
        <param name="deadband_width" value="0" type="double"/>
        <param name="windup_limit" value="1000" type="double"/>
        <param name="upper_limit" value="1" type="double"/>
        <param name="lower_limit" value="-1" type="double"/>
        <param name="variable" value="air_temperature" type="str"/>
        <param name="Kp" value="5" type="double"/>
      </node>
      <node pkg="openag_brain" type="recipe_handler.py" name="recipe_handler_1"/>
      <node pkg="openag_brain" type="direct_controller.py" name="light_controller_1">
        <param name="variable" value="light_illuminance" type="str"/>
      </node>
      <node pkg="openag_brain" type="video_writer.py" name="video_writer_1"/>
    </group>
  </group>
  <node pkg="openag_brain" type="handle_arduino.py" name="arduino_handler">
    <param name="should_flash" value="false" type="bool"/>
  </node>
  <node pkg="openag_brain" type="api.py" name="api"/>
  <node pkg="openag_brain" type="db.py" name="db"/>
  <node pkg="openag_brain" type="topic_connector.py" name="topic_connector">
    <param name="modules_file" value="$(find openag_brain)/fixtures/personal_food_computer_v2.json" />
  </node>
  <node pkg="openag_brain" type="topic_filter.py" name="topic_filter"/>
  <node pkg="openag_brain" type="image_persistence.py" name="image_persistence_1">
    <param name="min_update_interval" value="3600" type="int"/>
  </node>
  <node pkg="openag_brain" type="sensor_persistence.py" name="sensor_persistence_1">
    <param name="max_update_interval" value="600" type="int"/>
    <param name="min_update_interval" value="5" type="int"/>
  </node>
</launch>